@model IEnumerable<Holiday.Models.Destination>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="destination-row"
>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DestinationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DestinationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DestinationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<input id="searchBox"
       class="form-control mb-3"
       placeholder="Search city, country, description..."
       oninput="filterDestinationTable()" />

