@model ChakdeLife.Models.WalkingGroupMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WalkingGroupMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkingGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkingGroup.WalkingGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WalkingGroupMemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
